<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>

    <!--<add key="ishopconnect" value="Provider=SQLOLEDB.1;User ID=cuahangvattu_u;Password=cuahangvattu@123!@#;Initial Catalog=cuahangvattu;Data Source=103.53.168.17,8485;Connect Timeout=3600;Max Pool Size =1000"/>-->
    <add key="ishopconnect" value="Provider=SQLOLEDB.1;User ID=sa;Password=123;Initial Catalog=cuahangvattu;Data Source=.;Connect Timeout=3600;Max Pool Size =1000"/>

    <add key="ishopurl" value="http://localhost:34461/Source/" />
    <add key="imgurl" value="http://localhost:34461/Source/" />
    <add key="authenticationcode" value="1FF58A1C79F21214BCB411CC42C3E390" />
    <add key="emailsrvsmtp" value="info@thoitrangdova.com/" />
    <add key="emailsrvport" value="25" />
    <add key="emailadd" value="info@thoitrangdova.com/" />
    <add key="emailpwd" value="pass" />
    <add key="companyname" value="http://localhost:34461/Source/" />
    <add key="customerdefault" value="WC00000097" />
    <add key="ishophotline" value="Hotline:0938 283 846" />
    <add key="emailpacking" value="info@vitinhthanhtrung.com/" />
    <add key="bigitemfeeitemno" value="PDV0002" />
    <add key="packingfeeitemno" value="PDV0001" />
    <add key="keywork" value="Sơn, ngói, gạch vĩa hè, gạch trang trí, gạch ốp lát, thiết bị nước, thiết bị điện, sàn gỗ, thiết bị nhà bếp, thiết bị vệ sinh" />

  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.web>
    <authentication mode="Forms">
      <forms name="BUILDSHOP.ASPXAUTH" loginUrl="login.aspx" protection="All" path="/" timeout="120" />
    </authentication>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages buffer="true" masterPageFile="~/MasterPage/MasterSite.master" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <rewriter>
    <rewrite url="~/xac-nhan/(.+)" to="~/OrderConfirm.aspx?paymentmethod=$1" />
    <rewrite url="~/khuyen-mai/(.+)" to="~/Promotions.aspx?homeonepage=apl&amp;$1" />
    <rewrite url="~/khuyen-mai/" to="~/Promotions.aspx?homeonepage=apl" />
    <rewrite url="~/san-pham/(.+)" to="~/Product.aspx?homeonepage=ele&amp;item=$1" />
    <rewrite url="~/cam-nang/(.+)" to="~/Consultant.aspx?linkcontent=$1" />
    <rewrite url="~/cam-nang/" to="~/Consultant.aspx" />
    <rewrite url="~/cam-nang" to="~/Consultant.aspx" />
    <rewrite url="~/gio-hang/" to="~/Cart.aspx" />
    <rewrite url="~/thanh-vien/" to="~/CheckIn.aspx" />
    <rewrite url="~/thanh-toan/" to="~/Payment.aspx" />
    <rewrite url="~/thong-bao/(.+)" to="~/Warning.aspx?warning=$1" />
    <rewrite url="~/hoan-thanh/(.+)" to="~/Complete.aspx?orderno=$1" />
    <rewrite url="~/tin-khuyen-mai/(.+)" to="~/PromotionContent.aspx?linkcontent=$1" />
    <rewrite url="~/banner/(.+)" to="~/BannerClick.aspx?bannerno=$1" />
    <rewrite url="~/cam-nang/(.+)/(.+)/" to="~/Consultant.aspx?$1&amp;$2" />
    <rewrite url="~/cam-nang/(.+)/" to="~/Consultant.aspx?$1" />
    <rewrite url="~/cam-nang/(.+)" to="~/Consultant.aspx?linkcontent=$1" />
    <rewrite url="~/cam-nang/" to="~/Consultant.aspx" />
    <rewrite url="~/dang-nhap/(.+)" to="~/Customer/CustomerLogin.aspx?action=$1" />
    <rewrite url="~/dang-nhap/" to="~/Customer/CustomerLogin.aspx" />
    <rewrite url="~/bao-hanh-san-pham/" to="~/CustomerWarranty.aspx" />
    <rewrite url="~/so-sanh-san-pham/" to="~/ProductCompare.aspx" />
    <rewrite url="~/cau-hoi-thuong-gap/(.+)/" to="~/FAQs.aspx?faqno=$1" />
    <rewrite url="~/cau-hoi-thuong-gap/(.+)" to="~/FAQs.aspx?faqno=$1" />
    <rewrite url="~/cau-hoi-thuong-gap/" to="~/FAQs.aspx" />
    <rewrite url="~/khach-hang/join-lien-hoa/" to="~/Customer/joinnow.aspx" />
    <rewrite url="~/khach-hang/dang-xuat/" to="~/Customer/Logout.aspx" />
    <rewrite url="~/khach-hang/dang-xuat" to="~/Customer/Logout.aspx" />
    <rewrite url="~/dia-chi-giao-hang/" to="~/SelectDeliveryAddress.aspx" />
    <rewrite url="~/chinh-sach-giao-hang/" to="~/DeliveryFee.aspx" />
    <rewrite url="~/khach-hang/tai-khoan-thuong/" to="~/Customer/PaymentHistory.aspx" />
    <rewrite url="~/khach-hang/mua-hang-nhanh/" to="~/Customer/QuickOrder.aspx" />
    <rewrite url="~/khach-hang/tai-khoan/" to="~/Customer/CustomerPage.aspx" />
    <rewrite url="~/khach-hang/don-hang/" to="~/Customer/SalesOrderList.aspx" />
    <rewrite url="~/khach-hang/thu-moi/" to="~/Customer/Invitation.aspx" />
    <rewrite url="~/khach-hang/san-pham-da-xem/" to="~/Customer/ItemViewHistory.aspx" />
    <rewrite url="~/khach-hang/phieu-giam-gia/" to="~/Customer/Voucher.aspx" />
    <rewrite url="~/khach-hang/danh-gia/" to="~/Customer/ItemRating.aspx" />
    <rewrite url="~/khach-hang/so-dia-chi/" to="~/Customer/CustomerAddressList.aspx" />
    <rewrite url="~/khach-hang/my-list/" to="~/Customer/WishList.aspx" />
    <rewrite url="~/khach-hang/dang-ky/(.+)/(.+)/(.+)/" to="~/Customer/CustomerRegister.aspx?$1&amp;$2&amp;$3" />
    <rewrite url="~/khach-hang/dang-ky/(.+)/(.+)/(.+)" to="~/Customer/CustomerRegister.aspx?$1&amp;$2&amp;$3" />
    <rewrite url="~/khach-hang/dang-ky/(.+)/(.+)/" to="~/Customer/CustomerRegister.aspx?$1&amp;$2" />
    <rewrite url="~/khach-hang/dang-ky/(.+)/(.+)" to="~/Customer/CustomerRegister.aspx?$1&amp;$2" />
    <rewrite url="~/khach-hang/dang-ky/(.+)/" to="~/Customer/CustomerRegister.aspx?$1" />
    <rewrite url="~/khach-hang/dang-ky/(.+)" to="~/Customer/CustomerRegister.aspx?$1" />
    <rewrite url="~/khach-hang/dang-ky/" to="~/Customer/CustomerRegister.aspx" />
    <rewrite url="~/dang-ky/" to="~/Register.aspx" />
    <rewrite url="~/khach-hang/" to="~/Customer/CustomerPage.aspx" />
    <rewrite url="~/payment-online/" to="~/PaymentResult.aspx" />
    <rewrite url="~/thong-tin/(.+)" to="~/intro.aspx?linkcontent=$1" />
    <rewrite url="~/tim-kiem/(.+)/(.+)/" to="~/WebSearch.aspx?division=$1&amp;brand=$2" />
    <rewrite url="~/tim-kiem/(.+)/(.+)" to="~/WebSearch.aspx?division=$1&amp;brand=$2" />
    <rewrite url="~/tim-kiem/(.+)/" to="~/WebSearch.aspx?division=$1" />
    <rewrite url="~/tim-kiem/" to="~/WebSearch.aspx?division=all" />
    <rewrite url="~/sp/(.+)/(.+)/(.+)/(.+)/(.+)/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1&amp;$2&amp;$3&amp;$4&amp;$5&amp;$6" />
    <rewrite url="~/sp/(.+)/(.+)/(.+)/(.+)/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1&amp;$2&amp;$3&amp;$4&amp;$5" />
    <rewrite url="~/sp/(.+)/(.+)/(.+)/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1&amp;$2&amp;$3&amp;$4" />
    <rewrite url="~/sp/(.+)/(.+)/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1&amp;$2&amp;$3" />
    <rewrite url="~/sp/(.+)/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1&amp;$2" />
    <rewrite url="~/sp/(.+)/" to="~/Shop.aspx?homeonepae=apl&amp;menu=$1" />
    <rewrite url="~/products-list/(.+)/" to="~/ProductsLists.aspx?catid=$1" />
    <rewrite url="~/products-list/(.+)/(.+)/" to="~/ProductsLists.aspx?catid=$1&amp;$2" />
    <rewrite url="~/products-list/(.+)/(.+)/(.+)/" to="~/ProductsLists.aspx?catid=$1&amp;$2&amp;$3" />
    <rewrite url="~/products-list/(.+)/(.+)/(.+)/(.+)/" to="~/ProductsLists.aspx?catid=$1&amp;$2&amp;$3&amp;$4" />
    <rewrite url="~/sub-products-list/(.+)/" to="~/SubProductsLists.aspx?catid=$1" />
    <rewrite url="~/sub-products-list/(.+)/(.+)/" to="~/SubProductsLists.aspx?catid=$1&amp;$2" />
    <rewrite url="~/sub-products-list/(.+)/(.+)/(.+)/" to="~/SubProductsLists.aspx?catid=$1&amp;$2&amp;$3" />
    <rewrite url="~/sub-products-list/(.+)/(.+)/(.+)/(.+)/" to="~/SubProductsLists.aspx?catid=$1&amp;$2&amp;$3&amp;$4" />
    <rewrite url="~/product-detail/(.+)/" to="~/ProductDetail.aspx?catdetailid=$1" />
    <!--<rewrite url="~/product-detail/(.+)/(.+)/" to="~/ProductDetail.aspx?catdetailid=$1&amp;$2"/>
    <rewrite url="~/product-detail/(.+)/(.+)/(.+)/" to="~/ProductDetail.aspx?catdetailid=$1&amp;$2&amp;$3"/>
    <rewrite url="~/product-detail/(.+)/(.+)/(.+)/(.+)/" to="~/ProductDetail.aspx?catdetailid=$1&amp;$2&amp;$3&amp;$4"/>-->
    <rewrite url="~/static-detail/(.+)/" to="~/StaticContent.aspx?sno=$1" />
    <rewrite url="~/search-item/(.+)/" to="~/SearchItem.aspx?keyword=$1" />
    <rewrite url="~/search-item/(.+)/(.+)/" to="~/SearchItem.aspx?keyword=$1&amp;$2" />
    <rewrite url="~/sub-category/(.+)/" to="~/SubCategory.aspx?cat=$1" />
    <rewrite url="~/special-products/(.+)/" to="~/Specialtem.aspx?typeid=$1" />

    <rewrite url="~/tin-tuc/" to="~/News.aspx" processing="stop"/>
    <rewrite url="~/tin-tuc/(.+)/" to="~/News.aspx?typeid=$1" processing="stop"/>

    <rewrite url="~/tin-tuc-detail/(.+)/" to="~/NewsDetail.aspx?catdetailid=$1" processing="stop"/>


    <rewrite url="~/all-category/" to="~/AllCategory.aspx" />
    <rewrite url="~/review-order/(.+)/" to="~/reviewOrder.aspx?orderno=$1" />
  </rewriter>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HomeOne.Services.TransitionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HomeOne.Services.SessionPoolAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebChat.Services.Transition">
        <endpoint address="" behaviorConfiguration="HomeOne.Services.TransitionAspNetAjaxBehavior" binding="webHttpBinding" contract="WebChat.Services.Transition" />
      </service>
      <service name="WebChat.Services.SessionPool">
        <endpoint address="" behaviorConfiguration="HomeOne.Services.SessionPoolAspNetAjaxBehavior" binding="webHttpBinding" contract="WebChat.Services.SessionPool" />
      </service>
    </services>
  </system.serviceModel>
</configuration>